<!DOCTYPE html>
<html>
  <head>
    <title>DPE ReportGen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>DPE Report Generation Homepage</h1>
      <br>
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/log_in">here</a> to log in.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
        <div id="reportgen" class="container">
          <p><a href="/reportgen" class="btn btn--secondary btn--transparent" target="_blank">Generate or View Report</a></p>
        </div>
      </div>
  </body>
</html>