<html>
  <head>
    <title>DPE Report generate page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Report</h1>
      <br>
      <form action="" method="post">
        <input class="btn btn-default" type="submit" name="opt1" value="Generate">
        <input class="btn btn-default" type="submit" name="opt2" value="Download">
      </form>
      {% for message in get_flashed_messages() %}
        {% if message %}
            {{message}}
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>